<h1> <%=@book.title %> </h1>

<h2 class="right"> TURN RIGHT </h2>
<h2 class="left"> TURN LEFT </h2>

<div class="currentSentence">
  HI FRIENDS
</div>

<% @book.sentences.each_with_index do |sentence, index| %>
  <div class="sentence<%=index%>">
  <%= sentence %>
  </div>
  <br>
<% end %>
